.DS_Store
**/.settings/
**/.project
**/.cproject
**/.xproject
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
**/.build_*/
**/bin/
*.d
*.i
*.o
*.pca.xml
*.pca.xml.decouple
*.ppb
*.s
*.xe
*.xi
MAPFILE
_iflag.rsp
_obj.rsp
_pca.rsp
pca.d
pca.xml
